.item{
  background-color: #d5ffef;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #3f557f;
  font-family:sans-serif;
}

.overview{
  font-size: 17px;
  font-weight: bold;
}