.myButton{
  outline: 0;
  background-color: transparent;
  border-radius:5px;
  border: 1px solid gray;
  padding: 10px;
  font-size: 20px;
  color: #303030;
  cursor: pointer;
  transition: .1s;
  text-transform: uppercase;
  flex: 1;
  margin: 10px;
  &:hover{
    background-color: rgba(30,30,80, 0.1);
  }
}

.myInputText{
  min-width: 10px;
  outline: 0;
  background-color: transparent;
  border-radius:5px;
  border: 1px solid gray;
  padding: 10px;
  font-size: 20px;
  color: #303030;
  transition: .1s;
  text-transform: uppercase;
  flex: 1;
  margin: 10px;
  &:hover{
    background-color: rgba(30,30,80, 0.02);
  }
  &:focus{
    background-color: rgba(30,30,80, 0.05);
  }

  &:focus::placeholder{
    color: transparent
  }
}